# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jaizo\Desktop\WINTER 2021\CMPT 450 - Indratmo Indratmo\Labs\SchoolPlanner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
